@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

@model IEnumerable<CMgt.shared.ViewModels.ProductViewModel>

<div class="card shadow p-3 mt-2">
    <div class="card-body">
        <div class="row">
            <div class="d-flex justify-content-end my-3">
                <a href="/Admin/Product/Create" class="btn btn-primary" id="btnAddProduct">
                    <i class="bi bi-plus-circle"></i> Add New Product
                </a>
            </div>
            <div class="col-md-12">
                <table class="table table-sm table-bordered table-striped" id="tblProductIndexTable">
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Product Name</th>
                            <th>Size</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sn = 0;
                        }
                        @foreach(var product in Model)
                        {
                            sn++;
                            <tr>
                                <td>@sn</td>
                                <td>@product.ProductName</td>
                                <td>@product.Size</td>
                                <td>@product.Brand</td>
                                <td>@product.Price</td>
                                <td>@product.Description</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-secondary" data-id="@product.Id"><i class="bi bi-pencil-square"></i></button>
                                    <button class="btn btn-sm btn-outline-danger ms-1" data-id="@product.Id"><i class="bi bi-trash3"></i></button>
                                </td>
                            </tr>
                        }
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>



    </script>

}